:root {
  --color-orange: #e24e2a;
  --color-gray: #383838;
  --color-white: #ffffff;
  --color-green: #359771;
  --color-gray-text: #b2b2b2;
  --color-lightgray: #ececec;
  --color-footergreentext: #41b491;
  --color-footerlightgreentext: #83efcf;
}
